*.pdf
*.apk
*.log
video-generation/outputs/

node_modules/
dist/

.prettier*

data-tests/
src/inspectors/credentials.json
src/coverage_count.txt
src/outputacv.log
src/qrcodecountsposteitaliane.posteapp.apppostepay.txt
test/apks/times_log.csv
test/apks/times_log.csv
